<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Rekrutacja - Bielska wyższa szkoła im. J.Tyszkiewicza</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="assets/css/paper-dashboard.css" rel="stylesheet"/>

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/themify-icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>

</head>
<body ng-app="recruit-user-app">

<div class="wrapper" ng-controller="RegisterController">
    <div class="sidebar" style="background-color: #22546D" data-background-color="white" data-active-color="primary">

        <div class="sidebar-wrapper">
            <div class="logo" style="background-color: white;width: 100%">
                <a href="http://rekrutacja.tyszkiewicz.edu.pl" class="simple-text">
                    <img src="assets/img/logo.png" width="210px">
                </a>
            </div>

            <ul class="nav"  >
                <li class="active">
                    <a href="index.html">
                        <i class="ti-key"></i>
                        <p>Zarejestruj się</p>
                    </a>
                </li>
                <li>
                    <a href="http://tyszkiewicz.edu.pl/pl/kandydat/oferta-edykacyjna/kosmetologia/" target="_blank">
                        <i class="ti-link"></i>
                        <p>Kosmetologia</p>
                    </a>
                </li>
                <li>
                    <a href="http://tyszkiewicz.edu.pl/pl/kandydat/oferta-edykacyjna/architektura-wnetrz/" target="_blank">
                        <i class="ti-link"></i>
                        <p>Architektura Wnętrz</p>
                    </a>
                </li>
                <li>
                    <a href="http://tyszkiewicz.edu.pl/pl/kandydat/rekrutacja/oplaty-za-studia/" target="_blank">
                        <i class="ti-world"></i>
                        <p>Opłaty</p>
                    </a>
                </li>
                <li>
                    <a href="http://tyszkiewicz.edu.pl/pl/o-bws/kontakt/" target="_blank">
                        <i class="ti-world"></i>
                        <p>Kontakt</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Reset Modal -->
    <div class="modal fade login" id="resetModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Zaloguj się</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div class="error"></div>
                            <div class="form loginBox">
                                <form ng-submit="resetPassword()"  accept-charset="UTF-8">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control border-input" placeholder="jan.kowalski@email.com" ng-model="resetData.login">
                                    </div>
                                    <button class="btn btn-info btn-fill btn-wd">Resetuj Hasło</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
                            <span>Link aktywacyjny będzie wysłany na podany adres email
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade login" id="loginModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Zaloguj się</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div class="error"></div>
                            <div class="form loginBox">
                                <form ng-submit="login()"  accept-charset="UTF-8">
                                    <div class="form-group">
                                        <label>Email {{loginData.email}} </label>
                                        <input type="text" class="form-control border-input" placeholder="jan.kowalski@email.com" ng-model="loginData.email">
                                    </div>
                                    <div class="form-group">
                                        <label>Hasło</label>
                                        <input type="password" class="form-control border-input" ng-model="loginData.password">
                                    </div>
                                    <button class="btn btn-info btn-fill btn-wd">Zaloguj</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
                            <span>Nie pamiętasz hasła ?
                                 <a ng-click="switchModals()" href="#">Resetuj hasło</a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid" style="background-image:url('assets/img/head.JPG');height: 420px;background-size: cover;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Rekrutacja Online</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a data-toggle="modal" href="#loginModal">
                                <i class="ti-unlock"></i>
                                <p>Zaloguj</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="scrollToRegisterForm()" id="registerButton">
                                <i class="ti-key"></i>
                                <p>Zarejestruj</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>



        <div class="content">
            <div class="container-fluid">
                
                    
                        
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Błąd 404</h4>
                                    <p class="category">Nie znaleziono strony</p>
                                </div>
                            </div>
                        
                    
                
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://koszycki.pl/dev-basket">Dev Basket</a>
                </div>
            </div>
        </footer>

    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<!--<script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>-->
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/js.cookie.js" type="text/javascript"></script>
<script src="assets/js/angular-jwt.min.js" type="text/javascript"></script>
<script src="assets/js/moment.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<!--<script src="assets/js/bootstrap-checkbox-radio.js"></script> checkbox ng-model not working-->

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="assets/js/paper-dashboard.js"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>
<script src="assets/js/angular-app.js"></script>
<script src="assets/js/auth-interceptor.js"></script>
<script src="assets/js/admission-user-app.js"></script>

<script type="text/javascript">
    	$(document).ready(function(){

$("#registerButton").click(function() {
//TODO: make this working-->
console.log("clicked but not working")
    $('html, body').animate({
        scrollTop: $("#testScroll").offset().top
    }, 2000);
});
    	});
	</script>

</html>
