<footer class="footer">
    <div class="container-fluid">
        <!--todo make this working-->
        <div class="copyright pull-right">
            &copy;
            <script>2018</script>
            , made with <i class="fa fa-heart heart"></i> by <a target="_blank" href="http://koszycki.pl/dev-basket">Dev Basket</a>
        </div>
    </div>
</footer>