r<!doctype html>
<html lang="pl">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118583730-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118583730-1');

    </script>

    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Rekrutacja - Bielska wyższa szkoła im. J.Tyszkiewicza</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="assets/css/paper-dashboard.css" rel="stylesheet"/>

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/themify-icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="assets/js/error_msg.js"></script>
    <script src="assets/js/countries.js"></script>
    <script src="/assets/js/date.format.js"></script>

    <script>
    if (typeof window.onerror == "object") {
       window.onerror = function(err, url, line) {
           if (gtag) {
               console.log("send ex to gtag" + err)
               gtag('event', 'exception', {
  'description': line + " " + err,
  'fatal': false
});
           }
       };
   }

    </script>
</head>
<body ng-app="recruit-user-app">
<div ng-include="'loginModals.html'"></div>

<div class="wrapper">
    <input id="selenium" type="hidden" >
    <div ng-include="'sidebar.html'"></div>
    <div class="main-panel">

        <div ng-include="'topbar.html'"></div>


        <div class="content" ng-controller="RegisterController">
            <div class="container-fluid">
                <form id="registerForm" ng-submit="registerUser()">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Zarejestruj się</h4>
                                    <p class="category">Aby kontynuować wypełnij poniższy formularz</p>
                                </div>
                                <div class="content">
                                    <div class="form-group">
                                        <label>Imię</label>
                                        <input id="name" type="text" class="form-control border-input" placeholder="Jan" ng-model="user.name">
                                        <p id="error_name" class="p_error text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Nazwisko</label>
                                        <input id="surname" type="text" class="form-control border-input" placeholder="Kowalski" ng-model="user.surname">
                                        <p id="error_surname" class="p_error text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input id="email" type="text" class="form-control border-input" placeholder="jan.kowalski@email.com" ng-model="user.email">
                                        <p id="error_email" class="p_error text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Numer telefonu</label>
                                        <input id="phone" type="text" class="form-control border-input" placeholder="777888999" ng-model="user.phone">
                                        <p id="error_phone" class="p_error text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Kierunek i specjalność</label>
                                        <select class="form-control selectpicker" ng-model="user.specializationId" id="admission-select">
                                            <optgroup ng-repeat="a in admissionList.admissions" label="{{a.name}}">
                                                <option ng-show="s.specializationStatus != 'ARCHIWALNY'" class="specialization-option" value="{{s.id}}" ng-repeat="s in a.specializations">{{s.name}}</option>
                                            </optgroup>
                                        </select>
                                        <p id="error_specializationId" class="p_error text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Hasło</label>
                                        <input id="password" type="password" class="form-control border-input" ng-model="user.password">
                                        <p id="error_password" class="p_error text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Powtórz hasło</label>
                                        <input id="password-retype" type="password" class="form-control border-input" ng-model="user.passwordRetype">
                                        <p id="error_passwordRetype" class="p_error text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <input id="acceptTerms" type="checkbox" style="display: block !important;font-size: 100px !important" ng-model="user.acceptTerms">
                                            <label class="small-label">
                                                <b>Zapoznałem się</b> z klauzulą informacyjna w procesie rekrutacji na studia: <br>
                                                Zgodnie z art. 13. Rozporządzenia parlamentu europejskiego i rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych - ogólne rozporządzenie o ochronie danych (Dz. U. UE L 119/1 z dnia 4 maja 2016 r. – „RODO”) Bielska Wyższa Szkoła im. J.Tyszkiewicza informuje, że: <br>
                                                1. Administratorem Pani/Pana danych osobowych jest Bielska Wyższa Szkoła im. J.Tyszkiewicza z siedzibą przy ul. Nadbrzeżnej 12, 43-300 Bielsko-Biała; <br>
                                                2. Administrator wyznaczył Inspektora Ochrony Danych nadzorującego prawidłowość przetwarzania danych osobowych, z którym można skontaktować pod adresem mailowym: iod(at)tyszkiewicz.edu.pl; <br>
                                                3. Pani/Pana dane osobowe przetwarzane będą w celu przeprowadzenia postępowania rekrutacyjnego na studia, oraz – w przypadku przyjęcia na studia – obsługi procesu studiowania w Bielskiej Wyższej Szkole im. J.Tyszkiewicza; <br>
                                                4. Podstawą prawną do przetwarzania Pani/Pana danych osobowych są przepisy ustawy Prawo o szkolnictwie wyższym (Dz. U. z 2017 r. poz. 2183 z późn. zm.); <br>
                                                5. Posiada Pani/Pan prawo do: dostępu do treści swoich danych oraz ich sprostowania, a także prawo do usunięcia, ograniczenia przetwarzania, przenoszenia, wniesienia sprzeciwu wobec przetwarzania – w przypadkach i na warunkach określonych w Rozporządzeniu Ogólnym. <br>
                                                6. Posiada Pani/Pan również prawo do wycofania zgody w dowolnym momencie, przy czym wycofanie zgody nie wpływa na zgodność z prawem przetwarzania danych dokonanego przed jej wycofaniem. Wycofanie zgody na przetwarzanie danych osobowych można przesłać e-mailem na adres: iod(at)tyszkiewicz.edu.pl <br>
                                                7. Pani/Pana dane osobowe nie będą udostępniane innym podmiotom, za wyjątkiem podmiotów upoważnionych na podstawie przepisów prawa; <br>
                                                8. Podanie przez Panią/Pana danych osobowych jest dobrowolne, jednak w przypadku ich niepodania nie będzie Pani/Pan uczestniczył/a w postępowaniu rekrutacyjnym; <br>
                                                9. Pani/Pana dane osobowe przetwarzane będą przez okres 6 miesięcy od zakończenia procesu związanego z rekrutacją, a w przypadku przyjęcia na studia będą przetwarzane zgodnie z tokiem realizacji studiów, a następnie zostaną poddane archiwizacji i będą przechowywane przez 50 lat; <br>
                                                10. Ma Pan/Pani prawo do wniesienia skargi do organu nadzorczego - Prezesa Urzędu Ochrony Danych Osobowych, gdy uzna Pan/Pani, iż przetwarzanie Pana/Pani danych osobowych narusza przepisy RODO.
                                            </label>
                                            <p id="error_acceptTerms" class="p_error text-danger"></p>
                                        </div>
                                        <!--<label class="small-label">Wyrażam zgodę na przetwarzanie i wykorzystywanie moich danych osobowych przez Bielską Wyższą Szkołę im. J. Tyszkiewicza-->
                                        <!--w Bielsku - Białej dla celów postępowania rekrutacyjnego zgodnie z art. 6 ustawy z dnia 29.08.97 r. o ochronie danych-->
                                        <!--osobowych (Dz. U. z 1997 r. Nr 133 poz 883 z późniejszymi zmianami).</label>-->
                                    </div>
                                    <div class="text-center">
                                        <button id="registerSubmitButton" type="submit" class="btn btn-info btn-fill btn-wd">Zarejestruj</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>
                        <div ng-repeat="a in admissionList.admissions" class="col-lg-8 col-md-8 col-sm-6" style="float: right">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">{{a.name}}</h4>
                                    <!--selenium only-->
                                    <p class="admission-box" ></p>
                                </div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-6 col-sm-4">
                                            <label><i class="ti-calendar"></i> Data rozpoczęcia:</label>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-8">
                                            {{a.startDate}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-6 col-sm-4">
                                            <label><i class="ti-calendar"></i> Data zakończenia:</label>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-8">
                                            {{a.endDate}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-6 col-sm-4">
                                            <label><i class="ti-calendar"></i> Data inauguracji:</label>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-8">
                                            {{a.inaugurationDate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>


        <div ng-include="'footer.html'"></div>


    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<!--<script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>-->
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/js.cookie.js" type="text/javascript"></script>
<script src="assets/js/angular-jwt.min.js" type="text/javascript"></script>
<script src="assets/js/moment.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<!--<script src="assets/js/bootstrap-checkbox-radio.js"></script> checkbox ng-model not working-->

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="assets/js/paper-dashboard.js"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>
<script src="assets/js/angular-app.js"></script>
<script src="assets/js/auth-interceptor.js"></script>
<script src="assets/js/LoginController.js"></script>
<script src="assets/js/RegisterController.js"></script>

<script type="text/javascript">
    	$(document).ready(function(){
        $("#selenium").val(new Date().getTime()+"@mail.com")

$("#registerButton").click(function() {
//TODO: make this working-->
console.log("clicked but not working")
    $('html, body').animate({
        scrollTop: $("#testScroll").offset().top
    }, 2000);
});
    	});
	</script>

</html>
