<div ng-controller="LoginController" class="modal fade login" id="resetModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Zaloguj się</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="content">
                        <div class="error"></div>
                        <div class="form loginBox">
                            <form ng-submit="resetPassword()" accept-charset="UTF-8">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input id="reset-modal-email" type="text" class="form-control border-input" placeholder="jan.kowalski@email.com"
                                           ng-model="resetData.resetEmail">
                                    <p id="error_resetEmail" class="p_error text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Telefon</label>
                                    <input id="reset-modal-phone" type="text" class="form-control border-input" placeholder="555666777" ng-model="resetData.resetPhone">
                                    <p id="error_resetPhone" class="p_error text-danger"></p>
                                </div>
                                <button class="btn btn-info btn-fill btn-wd">Resetuj Hasło</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="forgot login-footer">
                            <span>Link aktywacyjny będzie wysłany na podany adres email
                            </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div ng-controller="LoginController" class="modal fade login" id="loginModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Zaloguj się</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="content">
                        <div class="error"></div>
                        <p id="login_error"></p>
                        <div class="form loginBox">
                            <form ng-submit="login()" accept-charset="UTF-8">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input id="login-modal-email" type="text" class="form-control border-input" placeholder="jan.kowalski@email.com"
                                           ng-model="loginData.email">
                                </div>
                                <div class="form-group">
                                    <label>Hasło</label>
                                    <input type="password" id="login-modal-password" class="form-control border-input" ng-model="loginData.password">
                                </div>
                                <button id="loginButton" class="btn btn-info btn-fill btn-wd">Zaloguj</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="forgot login-footer">
                            <span>Nie pamiętasz hasła ?
                                 <a ng-click="switchModals()" href="#">Resetuj hasło</a>
                            </span>
                </div>
            </div>
        </div>
    </div>
</div>