<div class="sidebar" style="background-color: #22546D" data-background-color="white" data-active-color="primary">

    <div class="sidebar-wrapper">
        <div class="logo" style="background-color: white;width: 100%">
            <a href="http://rekrutacja.tyszkiewicz.edu.pl" class="simple-text">
                <img src="../assets/img/logo.png" width="210px">
            </a>
        </div>

        <ul class="nav"  >
            <li class="active">
                <a href="extraInfo.html">
                    <i class="ti-key"></i>
                    <p>Formularz</p>
                </a>
            </li>
            <li>
                <a href="http://tyszkiewicz.edu.pl/pl/kandydat/oferta-edykacyjna/kosmetologia/" target="_blank">
                    <i class="ti-link"></i>
                    <p>Kosmetologia</p>
                </a>
            </li>
            <li>
                <a href="http://tyszkiewicz.edu.pl/pl/kandydat/oferta-edykacyjna/architektura-wnetrz/" target="_blank">
                    <i class="ti-link"></i>
                    <p>Architektura Wnętrz</p>
                </a>
            </li>
            <li>
                <a href="http://tyszkiewicz.edu.pl/pl/kandydat/rekrutacja/oplaty-za-studia/" target="_blank">
                    <i class="ti-world"></i>
                    <p>Opłaty</p>
                </a>
            </li>
            <li>
                <a href="http://tyszkiewicz.edu.pl/pl/o-bws/kontakt/" target="_blank">
                    <i class="ti-world"></i>
                    <p>Kontakt</p>
                </a>
            </li>
        </ul>
    </div>
</div>