<div ng-controller="LoginController">
    <nav class="navbar navbar-default">
        <div class="container-fluid topbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand sel-page-header" href="#">Rekrutacja Online</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul ng-show="!isLogged" class="nav navbar-nav navbar-right">
                <li>
                    <a id="login-modal" data-toggle="modal" href="#loginModal">
                        <i class="ti-unlock"></i>
                        <p>Zaloguj</p>
                    </a>
                </li>
                <li>
                    <a href="#" ng-click="scrollToRegisterForm()" id="registerButton">
                        <i class="ti-key"></i>
                        <p>Zarejestruj</p>
                    </a>
                </li>
            </ul>
            <ul ng-show="isLogged" class="nav navbar-nav navbar-right">
                <!--<li>
                    <p class="welcome-name">Hola! {{getUser().fullName}}</p>
                </li>-->
                <li>
                    <p id="topbar-logged" class="navbar-brand"><i class="ti-unlock"></i>Witaj {{getUser().fullName}} !</p>
                </li>
                <li>
                    <a href="#" ng-click="doLogout()" id="logoutButton">
                        <i class="ti-key"></i>
                        <p>Wyloguj</p>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
</div>