<!doctype html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118583730-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118583730-1');
    </script>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Rekrutacja - Bielska wyższa szkoła im. J.Tyszkiewicza</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>


    <!-- Bootstrap core CSS     -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Animation library for notifications   -->
    <link href="../assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="../assets/css/paper-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../assets/css/demo.css" rel="stylesheet"/>


    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="../assets/css/themify-icons.css" rel="stylesheet">
    <script src="../assets/js/pdfmake.min.js"></script>
    <script src="../assets/js/vfs_fonts.js"></script>
    <script src="../assets/js/pdf_template.js"></script>
    <script src="../assets/js/date.format.js"></script>
    <script src="../assets/js/error_msg.js"></script>
    <script src="../assets/js/countries.js"></script>
    <script>
    if (typeof window.onerror == "object") {
       window.onerror = function(err, url, line) {
           if (gtag) {
               console.log("send ex to gtag" + err)
               gtag('event', 'exception', {
  'description': line + " " + err,
  'fatal': false
});
           }
       };
   }

    </script>
</head>
<body ng-app="recruit-user-app">

<div class="wrapper" ng-controller="AdminPanelController">

    <div class="modal fade login" id="editModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Edycja administratora</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div ng-include="'edycja-admin.html'"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade login" id="addNewModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Dodawanie administratora</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div ng-include="'edycja-admin.html'"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'sidebar.html'"></div>


    <div class="main-panel">

        <div ng-include="'../topbar.html'"></div>


        <!--main content-->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-2">
                        <div class="card">
                            <div class="header">
                                <h4 id="filter-panel" class="title"><i class="ti-search"></i> Filtry wyszukujące</h4>
                                <p class="category"></p>
                            </div>
                            <div class="content">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input id="email_search" ng-model="search.criteria[0].value" type="text" class="form-control border-input">
                                </div>
                                <div class="form-group">
                                    <label>Nazwisko</label>
                                    <input id="surname_search" ng-model="search.criteria[1].value" type="text" class="form-control border-input">
                                </div>
                                <div class="text-center">
                                    <button  id="searchButton" ng-click="searchUsers()" type="submit" class="btn btn-info btn-fill btn-wd">Szukaj</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-9 col-md-10">
                        <div class="card">
                            <div class="header col-sm-6">
                                <h4 class="title">Lista administratorów systemu</h4>
                                <p class="category">Wszystkie aktualne rekordy oprócz roli 'Super Admin'</p>
                            </div>
                            <div class="header col-sm-4">
                                <a href="#addNewModal" ng-click="addNewUser()" data-toggle="modal" class="pull-right">
                                    <i class="ti-plus" style="display: inline-block"></i>
                                    <p style="display: inline-block"> Dodaj Adminstratora</p>
                                </a>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                    <th>Lp.</th>
                                    <th hidden>ID</th>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <!--<th>Kierunek</th>-->
                                    <th>Akcje</th>
                                    </thead>
                                    <tbody>
                                    <tr  ng-repeat="u in users">
                                        <td>{{$index+1}}</td>
                                        <td hidden class="user-row">{{u.id}}</td>
                                        <td>{{u.name}}</td>
                                        <td>{{u.surname}}</td>
                                        <td>{{u.email}}</td>
                                        <td>{{u.status}}</td>
                                        <!--todo implement-->
                                        <!--<td>do implementacji</td>-->
                                        <td>
                                            <a class="edit-modal-trigger" ng-click="loadUser(u.id)" href="#editModal" data-toggle="modal">
                                                <i class="ti-pencil"></i>
                                            </a>
                                            <a class="archive-trigger" ng-click="archiveUser(u.id)" href="#">
                                                <i class="ti-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-include="'../footer.html'"></div>

    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<!--<script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>-->
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/js.cookie.js" type="text/javascript"></script>
<script src="../assets/js/angular-jwt.min.js" type="text/javascript"></script>
<script src="../assets/js/moment.js" type="text/javascript"></script>



<!--  Notifications Plugin    -->
<script src="../assets/js/bootstrap-notify.js"></script>

<script src="../assets/js/paper-dashboard.js"></script>

<script src="../assets/js/angular-app.js"></script>
<script src="../assets/js/LoginController.js"></script>
<script src="../assets/js/AdminPanelController.js?v1"></script>

</html>
