<!-- Login Modal -->
<div class="modal fade login" id="edit-admission-modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <!--<div class="header">-->
                    <h4 class="title"><i class="ti-calendar"></i> Edytuj rekrutacje</h4>
                <!--</div>-->
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="content">
                        <div>

                                    <div class="form-group">
                                        <label>Nazwa</label>
                                        <input id="name" ng-model="loadedAdmission.name" placeholder="Architektura Wnętrz stacjonarne" type="text"
                                               class="form-control border-input"/>
                                        <p id="error_modal_name" class="p_error text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Typ</label>
                                        <select class="form-control selectpicker" ng-model="loadedAdmission.type">
                                            <option class="admission-option" value="STACJONARNE">Stacjonarne</option>
                                            <option class="admission-option" value="NIESTACJONARNE">Niestacjonarne</option>
                                        </select>
                                        <p id="error_modal_type" class="p_error text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Data rozpoczęcia</label>
                                        <input id="date_start" ng-model="loadedAdmission.startDate" type="date" class="form-control border-input">
                                        <p id="error_modal_startDate" class="p_error text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Data zakończenia</label>
                                        <input id="date_end" ng-model="loadedAdmission.endDate" type="date" class="form-control border-input">
                                        <p id="error_modal_endDate" class="p_error text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Data inauguracji</label>
                                        <input id="date_inaugurationDate" ng-model="loadedAdmission.inaugurationDate" type="date" class="form-control border-input">
                                        <p id="error_modal_inaugurationDate" class="p_error text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Rok akademicki</label>
                                        <input id="academic_year" ng-model="loadedAdmission.academicYear" placeholder="2018/2019" type="text"
                                               class="form-control border-input">
                                    </div>

                                    <div class="form-group">
                                        <label>Specjalizacje</label>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div ng-repeat="s in loadedAdmission.specializations">
                                                    <div ng-show="s.specializationStatus != 'ARCHIWALNY'">

                                                        <input  ng-model="s.name" type="text" class="form-control border-input col-md-8" style="margin-bottom: 5px;width: 80%">
                                                        <a  ng-click="archiveSpecialization($index)" href="#" class="col-md-2" style="padding-top: 10px">
                                                            <i class="ti-trash"></i>
                                                        </a>
                                                        <p id="error_modal_specializations_{{$index}}__name" class="p_error text-danger"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="forgot login-footer">
                    <div class="text-center">
                        <button  ng-click="updateAdmission()" type="submit" class="btn btn-info btn-fill btn-wd">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>