
<div class="card">
    <div class="content">
        <div class="header">
            <h4 class="title">Dane Osobowe</h4>
        </div>
        <div class="form-group">
            <label>Nazwisko*</label>
            <input   type="text" class="form-control border-input" placeholder="Kowalski" ng-model="user.surname">
        </div>
        <div class="form-group">
            <label>Imię*</label>
            <input   type="text" class="form-control border-input" placeholder="Jan" ng-model="user.name">
            <p id="error_name" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Telefon kontaktowy*</label>
            <input   type="text" class="form-control border-input" placeholder="777888999" ng-model="user.phone">
            <p id="error_phone" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Email*</label>
            <input type="text" class="form-control border-input" placeholder="jan.kowalski@email.com"
                   ng-model="user.email">
        </div>
        <div class="form-group">
            <label>Hasło</label>
            <input type="password" class="form-control border-input" ng-model="user.password">
            <p id="error_password" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Ranga administratora</label>
            <select   class="form-control selectpicker" ng-model="user.role">
                <option selected value="ADMIN">Administrator</option>
                <option value="SUPER_ADMIN">Super Admin</option>
            </select>
            <p id="error_userExtraInfo_survey_whyChoose" class="p_error text-danger"></p>
        </div>

        <div class="text-center">
            <button  ng-click="updateUser()" type="submit" class="btn btn-info btn-fill btn-wd">Zapisz</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
