
<div class="card">
    <div class="content">
        <div class="header">
            <h4 class="title">Dane Osobowe</h4>
        </div>
        <div class="form-group">
            <label>Nazwisko*</label>
            <input   type="text" class="form-control border-input" placeholder="Kowalski" ng-model="user.surname">
        </div>
<!--        <div class="form-group">-->
<!--            <label>Nazwisko rodowe*</label>-->
<!--            <input   type="text" class="form-control border-input"-->
<!--                   ng-model="user.userExtraInfo.familyName">-->
<!--            <p id="error_userExtraInfo_familyName" class="p_error text-danger"></p>-->
<!--        </div>-->
        <div class="form-group">
            <label>Imię*</label>
            <input   type="text" class="form-control border-input" placeholder="Jan" ng-model="user.name">
            <p id="error_name" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Drugie imię*</label>
            <p class="category">Wpisz brak jeśli nie dotyczy</p>
            <input   type="text" class="form-control border-input"
                   ng-model="user.userExtraInfo.secondName">
            <p id="error_userExtraInfo_secondName" class="p_error text-danger"></p>
        </div>
<!--        <div class="form-group">-->
<!--            <label>Imię ojca*</label>-->
<!--            <input   type="text" class="form-control border-input"-->
<!--                   ng-model="user.userExtraInfo.fatherName">-->
<!--            <p id="error_userExtraInfo_fatherName" class="p_error text-danger"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Imię matki*</label>-->
<!--            <input   type="text" class="form-control border-input"-->
<!--                   ng-model="user.userExtraInfo.motherName">-->
<!--            <p id="error_userExtraInfo_motherName" class="p_error text-danger"></p>-->
<!--        </div>-->
        <div class="form-group">
            <label>Data urodzenia*</label>
            <input   type="date" class="form-control border-input"
                   ng-model="user.userExtraInfo.birthday" placeholder="yyyy-MM-dd">
            <p id="error_userExtraInfo_birthday" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Obywatelstwo*</label>
            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.nationality">
            <p id="error_userExtraInfo_nationality" class="p_error text-danger"></p>
        </div>
        <div ng-show="!(user.userExtraInfo.nationality.toUpperCase() == 'POLSKIE'|| user.userExtraInfo.nationality.toUpperCase() == 'POLSKA' || user.userExtraInfo.nationality.toUpperCase() == 'PL')">
            <div class="form-group">
                <label>Państwo urodzenia*</label>
                <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.birthPlace">
                <p id="error_userExtraInfo_birthPlace" class="p_error text-danger"></p>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox"
                           style="display: block !important;font-size: 100px !important"
                           ng-model="user.userExtraInfo.polishCard">
                    <label>
                        Posiadam Kartę Polaka
                    </label>
                    <p id="error_userExtraInfo_polishCard" class="p_error text-danger"></p>
                </div>
            </div>

        </div>

        <div class="form-group">
            <label>PESEL</label>
            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.pesel">
            <p id="error_userExtraInfo_pesel" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Płeć*</label>
            <select   class="form-control selectpicker" ng-model="user.userExtraInfo.sex">
                <option value="KOBIETA">Kobieta</option>
                <option value="MEZCZYZNA">Mężczyzna</option>
            </select>
            <p id="error_userExtraInfo_sex" class="p_error text-danger"></p>
        </div>
        <div ng-show="user.userExtraInfo.pesel.length < 6">
            <div class="form-group">
                <label>Dokument tożsamości*</label>
                <select   class="form-control selectpicker" ng-model="user.userExtraInfo.document.type">
                    <option value="DOWOD_OSOBISTY">Dowód osobisty</option>
                    <option value="PASZPORT">Paszport</option>
                </select>
                <p id="error_documentType" class="p_error text-danger"></p>
            </div>
            <div class="form-group">
                <label>Seria i numer*</label>
                <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.document.number">
                <p id="error_number" class="p_error text-danger"></p>
            </div>
            <div class="form-group">
                <label>Państwo wydające*</label>
                <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.document.issuer">
                <p id="error_issuer" class="p_error text-danger"></p>
            </div>
        </div>
<!--        <div class="form-group">-->
<!--            <label>Data wydania*</label>-->
<!--            <input   type="date" class="form-control border-input" ng-model="user.userExtraInfo.document.issued">-->
<!--            <p id="error_userExtraInfo_document_issued" class="p_error text-danger"></p>-->
<!--        </div>-->
        <div class="form-group">
            <label>Telefon kontaktowy*</label>
            <input   type="text" class="form-control border-input" placeholder="777888999" ng-model="user.phone">
            <p id="error_phone" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Email*</label>
            <input ng-disabled="true"  disabled type="text" class="form-control border-input" placeholder="jan.kowalski@email.com"
                   ng-model="user.email">
        </div>
        <div class="form-group">
            <label>Kierunek i specjalność</label>
            <select class="form-control selectpicker" ng-model="user.specialization.id" ng-init="user.specialization.id" id="admission-select">
                <optgroup ng-repeat="a in admissionList.admissions" label="{{a.name}}">
                    <option ng-show="s.specializationStatus != 'ARCHIWALNY'" class="specialization-option" value="{{s.id}}" ng-repeat="s in a.specializations">{{s.name}}</option>
                </optgroup>
            </select>
            <p id="error_specializationId" class="p_error text-danger"></p>
        </div>
    </div>

    <div class="header">
        <h4 class="title">Adres zamieszkania</h4>
        <p class="category">Aby kontynuować wypełnij kwestionariusz osobowy</p>
    </div>
    <div class="content">
<!--        <div class="form-group">-->
<!--            <label>Kraj*</label>-->
<!--            <select   class="form-control selectpicker"  ng-model="user.userExtraInfo.livingAddress.country">-->
<!--                <option selected value="POL">Polska</option>-->
<!--                <option ng-repeat="c in countries" value="{{c.code}}" >{{c.label}}</option>-->
<!--            </select>-->
<!--            <p id="error_userExtraInfo_livingAddress_country" class="p_error text-danger"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Województwo*</label>-->
<!--            <input   type="text" class="form-control border-input"-->
<!--                   ng-model="user.userExtraInfo.livingAddress.voivodeship">-->
<!--            <p id="error_userExtraInfo_livingAddress_voivodeship" class="p_error text-danger"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Powiat*</label>-->
<!--            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.livingAddress.poviat">-->
<!--            <p id="error_userExtraInfo_livingAddress_poviat" class="p_error text-danger"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Gmina</label>-->
<!--            <input   type="text" class="form-control border-input"-->
<!--                   ng-model="user.userExtraInfo.livingAddress.commune">-->
<!--            <p id="error_userExtraInfo_livingAddress_commune" class="p_error text-danger"></p>-->
<!--        </div>-->
        <div class="form-group">
            <label>Poczta*</label>
            <input   type="text" class="form-control border-input"
                   ng-model="user.userExtraInfo.livingAddress.postOffice">
            <p id="error_userExtraInfo_livingAddress_postOffice" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Kod pocztowy*</label>
            <input   type="text" class="form-control border-input"
                   ng-model="user.userExtraInfo.livingAddress.zipCode">
            <p id="error_userExtraInfo_livingAddress_zipCode" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Miejscowość*</label>
            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.livingAddress.city">
            <p id="error_userExtraInfo_livingAddress_city" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Miejsce zamieszkania przed rozpoczęciem studiów*</label>
            <select   class="form-control selectpicker" ng-model="user.userExtraInfo.livingAddress.addressType">
                <option value="MIASTO">Miasto</option>
                <option value="WIES">Wieś</option>
            </select>
            <p id="error_userExtraInfo_livingAddress_addressType" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Ulica*</label>
            <p class="category">Wpisz brak jeśli nie dotyczy</p>
            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.livingAddress.street">
            <p id="error_userExtraInfo_livingAddress_street" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Nr domu/nr mieszkania*</label>
            <input   type="text" class="form-control border-input"
                   ng-model="user.userExtraInfo.livingAddress.houseNumber">
            <p id="error_userExtraInfo_livingAddress_houseNumber" class="p_error text-danger"></p>
        </div>
    </div>


    <div class="header">
        <h4 class="title">Adres Korespondencji</h4>
        <p class="category">Wypełnij jeśli inny, niż zameldowania</p>
        <div class="form-group">
            <div class="checkbox">
                <input   type="checkbox" style="display: block !important;font-size: 100px !important" ng-model="showExtraAddress">
                <label>Posiadam adres korespondencyjny
                </label>
                <p id="error_acceptTerms" class="p_error text-danger"></p>
            </div>
        </div>
    </div>

    <div ng-show="showExtraAddress"  class="content">
<!--        <div class="form-group">-->
<!--            <label>Kraj</label>-->

<!--            <select   class="form-control selectpicker" ng-model="user.userExtraInfo.correspondenceAddress.country">-->
<!--                <option selected value="POL">Polska</option>-->
<!--                <option ng-repeat="c in countries" value="{{c.code}}" >{{c.label}}</option>-->
<!--            </select>-->
<!--            <p id="error_userExtraInfo_correspondenceAddress_country" class="p_error text-danger"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Województwo</label>-->
<!--            <input   type="text" class="form-control border-input"-->
<!--                   ng-model="user.userExtraInfo.correspondenceAddress.voivodeship">-->
<!--            <p id="error_userExtraInfo_correspondenceAddress_voivodeship" class="p_error text-danger"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Powiat</label>-->
<!--            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.correspondenceAddress.poviat">-->
<!--            <p id="error_userExtraInfo_correspondenceAddress_poviat" class="p_error text-danger"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Gmina</label>-->
<!--            <input   type="text" class="form-control border-input"-->
<!--                   ng-model="user.userExtraInfo.correspondenceAddress.commune">-->
<!--            <p id="error_userExtraInfo_correspondenceAddress_commune" class="p_error text-danger"></p>-->
<!--        </div>-->
        <div class="form-group">
            <label>Poczta</label>
            <input   type="text" class="form-control border-input"
                   ng-model="user.userExtraInfo.correspondenceAddress.postOffice">
            <p id="error_userExtraInfo_correspondenceAddress_postOffice" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Kod pocztowy</label>
            <input   type="text" class="form-control border-input"
                   ng-model="user.userExtraInfo.correspondenceAddress.zipCode">
            <p id="error_userExtraInfo_correspondenceAddress_zipCode" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Miejscowość</label>
            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.correspondenceAddress.city">
            <p id="error_userExtraInfo_correspondenceAddress_city" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Ulica*</label>
            <p class="category">Wpisz brak jeśli nie dotyczy</p>
            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.correspondenceAddress.street">
            <p id="error_userExtraInfo_correspondenceAddress_street" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Nr domu/nr mieszkania</label>
            <input   type="text" class="form-control border-input"
                   ng-model="user.userExtraInfo.correspondenceAddress.houseNumber">
            <p id="error_userExtraInfo_correspondenceAddress_houseNumber" class="p_error text-danger"></p>
        </div>
    </div>
    <div class="header">
        <h4 class="title">Ukończona szkoła ponadgimnazjalna / średnia</h4>
    </div>
    <div class="content">
        <div class="form-group">
            <label>Miejscowość*</label>
            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.highSchoolInfo.certificatePlace">
            <p id="error_userExtraInfo_highSchoolInfo_certificatePlace" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Rodzaj szkoły*</label>
            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.highSchoolInfo.highSchoolType">
            <p id="error_userExtraInfo_highSchoolInfo_highSchoolType" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Pełna nazwa szkoły*</label>
            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.highSchoolInfo.highSchoolName">
            <p id="error_userExtraInfo_highSchoolInfo_highSchoolName" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Rok ukończenia szkoły*</label>
            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.highSchoolInfo.finishingYear">
            <p id="error_userExtraInfo_highSchoolInfo_finishingYear" class="p_error text-danger"></p>
        </div>
<!--        <div class="form-group">-->
<!--            <label>Organ wydający świadectwo dojrzałości*</label>-->
<!--            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.highSchoolInfo.oke">-->
<!--            <p id="error_userExtraInfo_highSchoolInfo_oke" class="p_error text-danger"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Miejscowość wystawienia świadectwa dojrzałości*</label>-->
<!--            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.highSchoolInfo.highSchoolCertificateCity">-->
<!--            <p id="error_userExtraInfo_highSchoolInfo_highSchoolCertificateCity" class="p_error text-danger"></p>-->
<!--        </div>-->
        <div class="form-group">
            <label>Numer świadectwa dojrzałości*</label>
            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.highSchoolInfo.highSchoolCertificateNumber">
            <p id="error_userExtraInfo_highSchoolInfo_highSchoolCertificateNumber" class="p_error text-danger"></p>
        </div>
<!--        <div class="form-group">-->
<!--            <label>Średnia ocen ze świadectwa ukończenia szkoły bez religii i WF (np. 4.25, 5.0)*</label>-->
<!--            <input   type="text" class="form-control border-input" ng-model="user.userExtraInfo.highSchoolInfo.gradeAverage">-->
<!--            <p id="error_userExtraInfo_highSchoolInfo_gradeAverage" class="p_error text-danger"></p>-->
<!--        </div>-->
    </div>
    <div class="header">
        <h4 class="title">Ankieta</h4>
        <p class="category">Aby kontynuować wypełnij kwestionariusz osobowy</p>
    </div>
    <div class="content">
        <div class="form-group">
            <label>Czy podejmowałeś wcześniej studia w BWS\nim. J. Tyszkiewicza?*</label>
            <select   class="form-control selectpicker" ng-model="user.userExtraInfo.isOurStudent">
                <option value="true">Tak</option>
                <option value="false">Nie</option>
            </select>
            <p id="error_userExtraInfo_isOurStudent" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Proszę wskazać główne źródło informacji o naszej Uczelni.*</label>
            <select   class="form-control selectpicker" ng-model="user.userExtraInfo.survey.howInfo">

                <option value="1">Szkoła</option>
                <option value="2">Rodzina/znajomi</option>
                <option value="3">Internet</option>
                <option value="4">Wizyta kogoś z Uczelni w Pani/Pana szkole</option>
                <option value="5">Ulotki/plakaty</option>
                <option value="6">Targi edukacyjne</option>
                <option value="7">Prasa</option>
            </select>
            <p id="error_userExtraInfo_survey_howInfo" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Jeżeli Internet to jaki portal?*</label>
            <select   class="form-control selectpicker" ng-model="user.userExtraInfo.survey.howInfoExtra">
                <option value="1">Facebook</option>
                <option value="2">Twitter</option>
                <option value="3">Strona www Uczelni</option>
                <option value="4">Strony regionalne poświęcone Bielsku-Białej</option>
                <option value="5">Nie dotyczy</option>
            </select>
            <p id="error_userExtraInfo_survey_howInfoExtra" class="p_error text-danger"></p>
        </div>
        <div class="form-group">
            <label>Proszę podać najważniejszy powód wyboru naszej Uczelni*</label>
            <select   class="form-control selectpicker" ng-model="user.userExtraInfo.survey.whyChoose">
                <option value="1">Renoma Uczelni</option>
                <option value="2">Ciekawy program studiów</option>
                <option value="3">Duża liczba zajęć praktycznych</option>
                <option value="4">Możliwość zdobycia popularnego i atrakcyjnego zawodu</option>
                <option value="5">Dobra lokalizacja Uczelni</option>
            </select>
            <p id="error_userExtraInfo_survey_whyChoose" class="p_error text-danger"></p>
        </div>
        <div class="checkbox">
            <input type="checkbox" style="display: block !important;font-size: 100px !important" ng-model="user.userExtraInfo.isLocked">
            <label>Użytkownik zablokowany
            </label>
            <p id="error_userExtraInfo_isLocked" class="p_error text-danger"></p>
        </div>
        <div class="text-center">
            <button  ng-click="updateUser()" type="submit" class="btn btn-info btn-fill btn-wd">Zapisz</button>
            <button  ng-click="makePdf()" class="btn btn-info btn-fill btn-wd">Drukuj</button>
        </div>
        <div class="clearfix"></div>
    </div>


</div>
