<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Rekrutacja - Bielska wyższa szkoła im. J.Tyszkiewicza</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>


    <!-- Bootstrap core CSS     -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Animation library for notifications   -->
    <link href="../assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="../assets/css/paper-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../assets/css/demo.css" rel="stylesheet"/>

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="../assets/css/themify-icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="../assets/js/error_msg.js"></script>

</head>
<body ng-app="recruit-user-app">

<div class="wrapper">
    <div ng-include="'sidebar.html'"></div>


    <div class="main-panel">

        <div ng-include="'../topbar.html'"></div>

        <div class="content" ng-controller="DashboardController">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-primary text-center">
                                            <i class="ti-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Status zarejestrowany</p>
                                            {{ countBoxes.box1 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr/>
                                    <div class="stats">
                                        <i class="ti-timer"></i>Od {{ admissionStart}} do {{ admissionStop }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-primary text-center">
                                            <i class="ti-agenda"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Wypełniony kwestionariusz</p>
                                            {{ countBoxes.box2 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-timer"></i>Od {{ admissionStart}} do {{ admissionStop }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-primary text-center">
                                            <!--<i class="ti-thumb-down"></i>-->
                                            <i class="ti-face-smile"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Przyjętych na studia</p>
                                            {{ countBoxes.box3 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-timer"></i>Od {{ admissionStart}} do {{ admissionStop }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Rejestracja wg. kierunków</h4>
                                <p class="category">Dane z ostanich miesięcy</p>
                            </div>
                            <div class="content">
                                <div id="chartSpecializationsVsStudents" class="ct-chart"></div>

                                <div class="footer">
                                    <div class="chart-legend">
                                        <div ng-repeat="l in legend"><i class="fa fa-circle ct-series-{{l.index}}"></i>{{l.name}}</div>
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-check"></i> Tylko potwierdzone rejestracje
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Miejsce zamieszkania</h4>
                                <p class="category">Na podstawie adresu pobytu</p>
                            </div>
                            <div class="content">
                                <div id="chartAddressType" class="ct-chart ct-perfect-fourth"></div>

                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle text-success"></i> Wieś {{ countAddress.village.percent }} %
                                        <i class="fa fa-circle text-primary"></i> Miasto {{ countAddress.city.percent }} %

                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-timer"></i> Dotyczy wszystkich zarejestrowanych użytkowników
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Główne źródło informacji o naszej Uczelni</h4>
                                <p class="category"></p>
                            </div>
                            <div class="content">
                                <div id="chartHowInfo" class="ct-chart ct-perfect-fourth"></div>

                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle ct-series-a-legend"></i> Szkoła {{ countSurvey.howInfoPercent[0] }} %
                                        <i class="fa fa-circle ct-series-b-legend"></i> Rodzina/znajomi {{ countSurvey.howInfoPercent[1] }} %
                                        <i class="fa fa-circle ct-series-c-legend"></i> Internet {{ countSurvey.howInfoPercent[2] }} %
                                        <i class="fa fa-circle ct-series-d-legend"></i> Wizyta kogoś z uczelni {{ countSurvey.howInfoPercent[3] }} %
                                        <i class="fa fa-circle ct-series-e-legend"></i> Ulotki {{ countSurvey.howInfoPercent[4] }} %
                                        <i class="fa fa-circle ct-series-f-legend"></i> Targi edukacyjne {{ countSurvey.howInfoPercent[5] }} %
                                        <i class="fa fa-circle ct-series-g-legend"></i> Prasa {{ countSurvey.howInfoPercent[6] }} %
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-timer"></i> Dotyczy wszystkich zarejestrowanych użytkowników
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Jeżeli Internet to jaki portal?*</h4>
                                <p class="category"></p>
                            </div>
                            <div class="content">
                                <div id="howInfoExtra" class="ct-chart ct-perfect-fourth"></div>

                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle ct-series-a-legend"></i> Facebook {{ countSurvey.howInfoExtraPercent[0] }} %
                                        <i class="fa fa-circle ct-series-b-legend"></i> Twitter {{ countSurvey.howInfoExtraPercent[1] }} %
                                        <i class="fa fa-circle ct-series-c-legend"></i> Strona www Uczelni {{ countSurvey.howInfoExtraPercent[2] }} %
                                        <i class="fa fa-circle ct-series-d-legend"></i> Strony regionalne poświęcone Bielsku-Białej {{ countSurvey.howInfoExtraPercent[3] }} %
                                        <i class="fa fa-circle ct-series-e-legend"></i> Nie dotyczy {{ countSurvey.howInfoExtraPercent[4] }} %
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-timer"></i> Dotyczy wszystkich zarejestrowanych użytkowników
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Proszę podać najważniejszy powód wyboru naszej Uczelni*</h4>
                                <p class="category"></p>
                            </div>
                            <div class="content">
                                <div id="whyChoose" class="ct-chart ct-perfect-fourth"></div>

                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle ct-series-a-legend"></i> Renoma Uczelni {{ countSurvey.whyChoosePercent[0] }} %
                                        <i class="fa fa-circle ct-series-b-legend"></i> Ciekawy program studiów {{ countSurvey.whyChoosePercent[1] }} %
                                        <i class="fa fa-circle ct-series-c-legend"></i> Duża liczba zajęć praktycznych {{ countSurvey.whyChoosePercent[2] }} %
                                        <i class="fa fa-circle ct-series-d-legend"></i> Możliwość zdobycia popularnego i atrakcyjnego zawodu {{ countSurvey.whyChoosePercent[3] }} %
                                        <i class="fa fa-circle ct-series-e-legend"></i> Dobra lokalizacja Uczelni {{ countSurvey.whyChoosePercent[4] }} %
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-timer"></i> Dotyczy wszystkich zarejestrowanych użytkowników
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright pull-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>
                    , made with <i class="fa fa-heart heart"></i> by <a href="http://koszycki.pl/dev-basket">Dev Basket</a>
                </div>
            </div>
        </footer>

    </div>
</div>


</body>
<!--   Core JS Files   -->
<script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<!--<script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>-->
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/js.cookie.js" type="text/javascript"></script>
<script src="../assets/js/angular-jwt.min.js" type="text/javascript"></script>
<script src="../assets/js/moment.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="../assets/js/bootstrap-checkbox-radio.js"></script>

<!--  Charts Plugin -->
<script src="../assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="../assets/js/bootstrap-notify.js"></script>

<script src="../assets/js/angular-app.js"></script>
<script src="../assets/js/LoginController.js"></script>
<script src="../assets/js/DashboardController.js"></script>

</html>
