<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Rekrutacja - Bielska wyższa szkoła im. J.Tyszkiewicza</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>


    <!-- Bootstrap core CSS     -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Animation library for notifications   -->
    <link href="../assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="../assets/css/paper-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../assets/css/demo.css" rel="stylesheet"/>


    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="../assets/css/themify-icons.css" rel="stylesheet">

</head>
<body>

<div class="wrapper">
    <div class="sidebar" style="background-color: #22546D" data-background-color="white" data-active-color="primary">

        <div class="sidebar-wrapper" style="background-color: #22546D">
            <div class="logo" style="background-color: white;width: 100%">
                <a href="http://www.tyszkiewicz.edu.pl" class="simple-text">
                    <img src="../assets/img/logo.png" width="210px">
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="index.html">
                        <i class="ti-bar-chart"></i>
                        <p>Statystyki</p>
                    </a>
                </li>
                <li>
                    <a href="kandydaci.html">
                        <i class="ti-user"></i>
                        <p>Studenci</p>
                    </a>
                </li>
                <li class="active">
                    <a href="kierunki.html">
                        <i class="ti-agenda"></i>
                        <p>Kierunki</p>
                    </a>
                </li>
                <li>
                    <a href="rekrutacje.html">
                        <i class="ti-calendar"></i>
                        <p>Rekrutacje</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="#">
                        <i class="ti-settings"></i>
                        <p>Ustawienia systemu</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Kierunki</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
                                <p>Zalogowany jako Administrator</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="doLogout()" id="logoutButton">
                                <p>Wyloguj</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <!--main content-->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Dodaj nowy kierunek</h4>
                                <p class="category">Wypełnij pola poniżej</p>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="form-group">
                                        <label>Nazwa Kierunku</label>
                                        <input type="text" class="form-control border-input" placeholder="Nazwa..." value="">
                                    </div>
                                    <div class="form-group">
                                        <label>Typ studiów</label>
                                        <div class="radio checked" >
                                            <label><input type="radio" name="dzienne1" >Studia pierwszego stopnia dzienne</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="zaoczne1">Studia pierwszego stopnia zaoczne</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Język studiów</label>
                                        <div class="radio checked" >
                                            <label><input type="radio" name="pl" >Polski</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="en">Angielski</label>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Dodaj Kierunek</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Kosmetologia</h4>
                            </div>
                            <div class="content">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="ti-info-alt"></i> Studia pierwszego stopnia zaoczne</li>
                                    <li class="list-group-item"><i class="ti-info-alt"></i> Język Polski</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Architektura Wnętrz</h4>
                            </div>
                            <div class="content">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="ti-info-alt"></i> Studia pierwszego stopnia zaoczne</li>
                                    <li class="list-group-item"><i class="ti-info-alt"></i> Język Polski</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright pull-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>
                    , made with <i class="fa fa-heart heart"></i> by <a href="http://koszycki.pl/dev-basket">Dev Basket</a>
                </div>
            </div>
        </footer>
    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="../assets/js/bootstrap-checkbox-radio.js"></script>

<!--  Charts Plugin -->
<script src="../assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="../assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="../assets/js/paper-dashboard.js"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/js/demo.js"></script>

<script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

        	<!--$.notify({-->
            	<!--icon: 'ti-gift',-->
            	<!--message: "Welcome to <b>Paper Dashboard</b> - a beautiful Bootstrap freebie for your next project."-->

            <!--},{-->
                <!--type: 'success',-->
                <!--timer: 4000-->
            <!--});-->

    	});









</script>

</html>
