<!doctype html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118583730-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118583730-1');







    </script>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Rekrutacja - Bielska wyższa szkoła im. J.Tyszkiewicza</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>


    <!-- Bootstrap core CSS     -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Animation library for notifications   -->
    <link href="../assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="../assets/css/paper-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../assets/css/demo.css" rel="stylesheet"/>


    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="../assets/css/themify-icons.css" rel="stylesheet">
    <script src="../assets/js/pdfmake.min.js"></script>
    <script src="../assets/js/vfs_fonts.js"></script>
    <script src="../assets/js/pdf_template.js"></script>
    <script src="../assets/js/date.format.js"></script>
    <script src="../assets/js/error_msg.js"></script>
    <script src="../assets/js/countries.js"></script>
    <script>
    if (typeof window.onerror == "object") {
       window.onerror = function(err, url, line) {
           if (gtag) {
               console.log("send ex to gtag" + err)
               gtag('event', 'exception', {
  'description': line + " " + err,
  'fatal': false
});
           }
       };
   }






    </script>
</head>
<body ng-app="recruit-user-app">

<div class="wrapper" ng-controller="AdmissionsController">

    <div ng-include="'edycja-rekrutacji.html'"></div>
    <div ng-include="'sidebar.html'"></div>


    <div class="main-panel">

        <div ng-include="'../topbar.html'"></div>


        <!--main content-->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-2">
                        <div class="card">
                            <div class="header">
                                <h4 id="filter-panel" class="title"><i class="ti-calendar"></i> Dodaj rekrutacje</h4>
                                <p class="category"></p>
                            </div>
                            <div class="content">

                                <div class="form-group">
                                    <label>Nazwa</label>
                                    <input id="name" ng-model="admission.name" placeholder="Architektura Wnętrz stacjonarne" type="text"
                                           class="form-control border-input"/>
                                    <p id="error_name" class="p_error text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Typ</label>
                                    <select class="form-control selectpicker" ng-model="admission.type">
                                        <option class="admission-option" value="STACJONARNE">Stacjonarne</option>
                                        <option class="admission-option" value="NIESTACJONARNE">Niestacjonarne</option>
                                    </select>
                                    <p id="error_type" class="p_error text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Data rozpoczęcia</label>
                                    <input id="date_start" ng-model="admission.startDate" type="date" class="form-control border-input">
                                    <p id="error_startDate" class="p_error text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Data zakończenia</label>
                                    <input id="date_end" ng-model="admission.endDate" type="date" class="form-control border-input">
                                    <p id="error_endDate" class="p_error text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Data inauguracji</label>
                                    <input id="date_inaugurationDate" ng-model="admission.inaugurationDate" type="date" class="form-control border-input">
                                    <p id="error_inaugurationDate" class="p_error text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Rok akademicki</label>
                                    <input id="academic_year" ng-model="admission.academicYear" placeholder="2018/2019" type="text"
                                           class="form-control border-input">
                                </div>
                                <div class="form-group">
                                    <label>Specjalizacje</label>
                                    <div style="float: right">
                                        <a ng-click="addSpecialization()" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a ng-disabled="admission.specializations.length == 1" ng-click="removeSpecialization()" href="#">
                                            <i class="ti-minus"></i>
                                        </a>
                                    </div>

                                    <div ng-repeat="s in admission.specializations">
                                        <input ng-show="s.specializationStatus != 'ARCHIWALNY'" ng-model="s.name" type="text" class="form-control border-input" style="margin-bottom: 5px">
                                        <p id="error_specializations_{{$index}}__name" class="p_error text-danger"></p>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button id="searchButton" ng-click="addAdmission()" type="submit" class="btn btn-info btn-fill btn-wd">Dodaj</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                    <div ng-repeat="a in admissionList.admissions" class="col-lg-9 col-md-10" style="float: right" >
                        <div class="card">
                            <div class="header">
                                <h4 class="title col-md-11" style="padding-left: 0px !important;margin-bottom: 15px">{{a.name}}</h4>
                                <!--selenium only-->
                                <p class="admission-box"></p>
                                <div class="col-md-1" >
                                    <a ng-click="editAdmission($index)" href="#" style="float: right">
                                        <i class="ti-pencil"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="admission-label"><i class="ti-calendar"></i> Data rozpoczęcia: </label>
                                        {{a.startDate | date : "yyyy-MM-dd"}}
                                        <label class="admission-label"><i class="ti-calendar"></i> Data zakończenia: </label>
                                        {{a.endDate | date : "yyyy-MM-dd"}}
                                        <label class="admission-label"><i class="ti-calendar"></i> Data inauguracji: </label>
                                        {{a.inaugurationDate | date : "yyyy-MM-dd"}}
                                        <label class="admission-label"><i class="ti-calendar"></i> Rok akademicki: </label>
                                        {{a.academicYear}}
                                    </div>
                                    <div class="col-md-8">
                                        <ul>
                                            <li ng-show="s.specializationStatus != 'ARCHIWALNY'" ng-repeat="s in a.specializations">{{s.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-include="'../footer.html'"></div>

    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<!--<script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>-->
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/js.cookie.js" type="text/javascript"></script>
<script src="../assets/js/angular-jwt.min.js" type="text/javascript"></script>
<script src="../assets/js/moment.js" type="text/javascript"></script>



<!--  Notifications Plugin    -->
<script src="../assets/js/bootstrap-notify.js"></script>

<script src="../assets/js/paper-dashboard.js"></script>

<script src="../assets/js/angular-app.js"></script>
<script src="../assets/js/LoginController.js"></script>
<script src="../assets/js/AdmissionsController.js"></script>

</html>
