<div class="sidebar" style="background-color: #22546D" data-background-color="white" data-active-color="primary">


    <div class="sidebar-wrapper" style="background-color: #22546D">
        <div class="logo" style="background-color: white;width: 100%">
            <a href="http://www.tyszkiewicz.edu.pl" class="simple-text">
                <img src="../assets/img/logo.png" width="210px">
            </a>
        </div>

        <ul id="sidebar-nav" class="nav">
            <li id="index-li">
                <a href="index.html">
                    <i class="ti-bar-chart"></i>
                    <p>Statystyki</p>
                </a>
            </li>
            <li id="students-li">
                <a id="students-link" href="kandydaci.html">
                    <i class="ti-user"></i>
                    <p>Kandydaci</p>
                </a>
            </li>
            <li id="rekrutacje-li">
                <a href="rekrutacje.html">
                    <i class="ti-calendar"></i>
                    <p>Rekrutacje</p>
                </a>
            </li>
            <li id="admin-panel-li" ng-show="isSuperAdmin()">
                <a href="admin-panel.html">
                    <i class="ti-mouse"></i>
                    <p>Super Admin panel</p>
                </a>
            </li>
            <!--<li id="settings-li" class="active-pro">-->
                <!--<a href="settings.html">-->
                    <!--<i class="ti-settings"></i>-->
                    <!--<p>Ustawienia systemu</p>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>