<!doctype html>
<html lang="pl">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118583730-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118583730-1');



    </script>

    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Rekrutacja - Bielska wyższa szkoła im. J.Tyszkiewicza</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>


    <!-- Bootstrap core CSS     -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Animation library for notifications   -->
    <link href="../assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="../assets/css/paper-dashboard.css" rel="stylesheet"/>

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="../assets/css/themify-icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="../assets/js/pdfmake.min.js"></script>
    <script src="../assets/js/vfs_fonts.js"></script>
    <script src="../assets/js/pdf_template.js"></script>
    <script src="../assets/js/date.format.js"></script>
    <script src="../assets/js/error_msg.js"></script>
    <script src="../assets/js/countries.js"></script>
    <script>
    if (typeof window.onerror == "object") {
       window.onerror = function(err, url, line) {
           if (gtag) {
               console.log("send ex to gtag" + err)
               gtag('event', 'exception', {
  'description': line + " " + err,
  'fatal': false
});
           }
       };
   }


    </script>
</head>
<body ng-app="recruit-user-app">

<div class="wrapper">

    <div ng-include="'../sidebar.html'"></div>


    <div class="main-panel">

        <div ng-include="'../topbar.html'"></div>


        <!--main content-->
        <div class="content" ng-controller="ExtraInfoController">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="header">
                                <h4 id="extra-info-title" class="title">Kwestionariusz osobowy</h4>
                                <p class="category">Aby kontynuować wypełnij kwestionariusz osobowy</p>
                                <p class="category">* - pola wymagane</p>
                            </div>
                            <div class="content">
                                <div class="header">
                                    <h4 class="title">Dane Osobowe</h4>
                                </div>
                                <div class="form-group">
                                    <label>Nazwisko*</label>
                                    <input id="surname" ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input" placeholder="Kowalski"
                                           ng-model="user.surname">
                                    <p id="error_surname" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Imię*</label>
                                    <input id="name" ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input" placeholder="Jan" ng-model="user.name">
                                    <p id="error_name" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Drugie imię*</label>
                                    <p class="category">Wpisz brak jeśli nie dotyczy</p>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.secondName">
                                    <p id="error_userExtraInfo_secondName" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Data urodzenia*</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="date"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.birthday" placeholder="yyyy-MM-dd">
                                    <p id="error_userExtraInfo_birthday" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Obywatelstwo*</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input" ng-model="user.userExtraInfo.nationality">
                                    <p id="error_userExtraInfo_nationality" class="text-danger"></p>
                                </div>
                                <div ng-show="!(user.userExtraInfo.nationality.toUpperCase() == 'POLSKIE'|| user.userExtraInfo.nationality.toUpperCase() == 'POLSKA' || user.userExtraInfo.nationality.toUpperCase() == 'PL')">
                                    <div class="form-group">
                                        <label>Państwo urodzenia*</label>
                                        <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                               class="form-control border-input" ng-model="user.userExtraInfo.birthPlace">
                                        <p id="error_userExtraInfo_birthPlace" class="text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <input ng-disabled="user.userExtraInfo.isLocked" type="checkbox"
                                                   style="display: block !important;font-size: 100px !important"
                                                   ng-model="user.userExtraInfo.polishCard">
                                            <label>
                                                Posiadam Kartę Polaka
                                            </label>
                                            <p id="error_userExtraInfo_polishCard" class="p_error text-danger"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>PESEL*</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input" ng-model="user.userExtraInfo.pesel">
                                    <p id="error_userExtraInfo_pesel" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Płeć*</label>
                                    <select ng-disabled="user.userExtraInfo.isLocked" class="form-control selectpicker"
                                            ng-model="user.userExtraInfo.sex">
                                        <option value="KOBIETA">Kobieta</option>
                                        <option value="MEZCZYZNA">Mężczyzna</option>
                                    </select>
                                    <p id="error_userExtraInfo_sex" class="text-danger"></p>
                                </div>
                                <div ng-show="user.userExtraInfo.pesel.length < 6">

                                    <div class="form-group">
                                        <label>Dokument tożsamości*</label>
                                        <select ng-disabled="user.userExtraInfo.isLocked"
                                                class="form-control selectpicker"
                                                ng-model="user.userExtraInfo.document.type">
                                            <option value="DOWOD_OSOBISTY">Dowód osobisty</option>
                                            <option value="PASZPORT">Paszport</option>
                                        </select>
                                        <p id="error_documentType" class="text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Seria i numer*</label>
                                        <input id="document-number" ng-disabled="user.userExtraInfo.isLocked"
                                               type="text" class="form-control border-input"
                                               ng-model="user.userExtraInfo.document.number">
                                        <p id="error_number" class="text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Państwo wydające*</label>
                                        <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                               class="form-control border-input"
                                               ng-model="user.userExtraInfo.document.issuer">
                                        <p id="error_issuer" class="text-danger"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Telefon kontaktowy*</label>
                                    <input id="phone" ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input" placeholder="777888999"
                                           ng-model="user.phone">
                                    <p id="error_phone" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Email*</label>
                                    <input id="email" ng-disabled="true" disabled type="text"
                                           class="form-control border-input" placeholder="jan.kowalski@email.com"
                                           ng-model="user.email">
                                </div>
                            </div>

                            <div class="header">
                                <h4 class="title">Adres zamieszkania</h4>
                                <p class="category">Aby kontynuować wypełnij kwestionariusz osobowy</p>
                            </div>
                            <div class="content">
                                <!--                                <div class="form-group">-->
                                <!--                                    <label>Kraj*</label>-->
                                <!--                                    <select ng-disabled="user.userExtraInfo.isLocked"  class="form-control selectpicker"  ng-model="user.userExtraInfo.livingAddress.country">-->
                                <!--                                        <option selected value="POL">Polska</option>-->
                                <!--                                        <option ng-repeat="c in countries" value="{{c.code}}" >{{c.label}}</option>-->
                                <!--                                    </select>-->

                                <!--                                    <p id="error_userExtraInfo_livingAddress_country" class="text-danger"></p>-->
                                <!--                                </div>-->
                                <div class="form-group">
                                    <label>Poczta*</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.livingAddress.postOffice">
                                    <p id="error_userExtraInfo_livingAddress_postOffice" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Kod pocztowy*</label>
                                    <input id="livingAddress_zipCode" ng-disabled="user.userExtraInfo.isLocked"
                                           type="text" class="form-control border-input"
                                           ng-model="user.userExtraInfo.livingAddress.zipCode">
                                    <p id="error_userExtraInfo_livingAddress_zipCode" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Miejscowość*</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.livingAddress.city">
                                    <p id="error_userExtraInfo_livingAddress_city" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Miejsce zamieszkania przed rozpoczęciem studiów*</label>
                                    <select ng-disabled="user.userExtraInfo.isLocked" class="form-control selectpicker"
                                            ng-model="user.userExtraInfo.livingAddress.addressType">
                                        <option value="MIASTO">Miasto</option>
                                        <option value="WIES">Wieś</option>
                                    </select>
                                    <p id="error_userExtraInfo_livingAddress_addressType" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Ulica*</label>
                                    <p class="category">Wpisz brak jeśli nie dotyczy</p>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.livingAddress.street">
                                    <p id="error_userExtraInfo_livingAddress_street" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Nr domu/nr mieszkania*</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.livingAddress.houseNumber">
                                    <p id="error_userExtraInfo_livingAddress_houseNumber" class="text-danger"></p>
                                </div>
                            </div>


                            <div class="header">
                                <h4 class="title">Adres Korespondencji</h4>
                                <p class="category">Wypełnij jeśli inny, niż zameldowania</p>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input ng-disabled="user.userExtraInfo.isLocked" type="checkbox"
                                               style="display: block !important;font-size: 100px !important"
                                               ng-model="showExtraAddress">
                                        <label>Posiadam adres korespondencyjny
                                        </label>
                                        <p id="error_acceptTerms" class="p_error text-danger"></p>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="showExtraAddress" class="content">
                                <!--                             <div class="form-group">-->
                                <!--                                 <label>Kraj</label>-->

                                <!--                                 <select ng-disabled="user.userExtraInfo.isLocked"  class="form-control selectpicker" ng-model="user.userExtraInfo.correspondenceAddress.country">-->
                                <!--                                     <option selected value="POL">Polska</option>-->
                                <!--                                     <option ng-repeat="c in countries" value="{{c.code}}" >{{c.label}}</option>-->
                                <!--                                 </select>-->
                                <!--                                 <p id="error_userExtraInfo_correspondenceAddress_country" class="text-danger"></p>-->
                                <!--                             </div>-->
                                <div class="form-group">
                                    <label>Poczta</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.correspondenceAddress.postOffice">
                                    <p id="error_userExtraInfo_correspondenceAddress_postOffice"
                                       class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Kod pocztowy</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.correspondenceAddress.zipCode">
                                    <p id="error_userExtraInfo_correspondenceAddress_zipCode" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Miejscowość</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.correspondenceAddress.city">
                                    <p id="error_userExtraInfo_correspondenceAddress_city" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Ulica*</label>
                                    <p class="category">Wpisz brak jeśli nie dotyczy</p>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.correspondenceAddress.street">
                                    <p id="error_userExtraInfo_correspondenceAddress_street" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Nr domu/nr mieszkania</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.correspondenceAddress.houseNumber">
                                    <p id="error_userExtraInfo_correspondenceAddress_houseNumber"
                                       class="text-danger"></p>
                                </div>
                            </div>
                            <div class="header">
                                <h4 class="title">Ukończona szkoła ponadgimnazjalna / średnia</h4>
                            </div>
                            <div class="content">
                                <div class="form-group">
                                    <label>Miejscowość*</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.highSchoolInfo.certificatePlace">
                                    <p id="error_userExtraInfo_highSchoolInfo_certificatePlace" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Rodzaj szkoły*</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.highSchoolInfo.highSchoolType">
                                    <p id="error_userExtraInfo_highSchoolInfo_highSchoolType" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Pełna nazwa szkoły*</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.highSchoolInfo.highSchoolName">
                                    <p id="error_userExtraInfo_highSchoolInfo_highSchoolName" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Rok ukończenia szkoły*</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.highSchoolInfo.finishingYear">
                                    <p id="error_userExtraInfo_highSchoolInfo_finishingYear" class="text-danger"></p>
                                </div>
                                <!--								<div class="form-group">-->
                                <!--                                    <label>Organ wydający świadectwo dojrzałości*</label>-->
                                <!--                                    <input ng-disabled="user.userExtraInfo.isLocked"  type="text" class="form-control border-input" ng-model="user.userExtraInfo.highSchoolInfo.oke">-->
                                <!--                                    <p id="error_userExtraInfo_highSchoolInfo_oke" class="text-danger"></p>-->
                                <!--                                </div>-->
                                <!--								<div class="form-group">-->
                                <!--                                    <label>Miejscowość wystawienia świadectwa dojrzałości*</label>-->
                                <!--                                    <input ng-disabled="user.userExtraInfo.isLocked"  type="text" class="form-control border-input" ng-model="user.userExtraInfo.highSchoolInfo.highSchoolCertificateCity">-->
                                <!--                                    <p id="error_userExtraInfo_highSchoolInfo_highSchoolCertificateCity" class="text-danger"></p>-->
                                <!--                                </div>-->
                                <div class="form-group">
                                    <label>Numer świadectwa dojrzałości*</label>
                                    <input ng-disabled="user.userExtraInfo.isLocked" type="text"
                                           class="form-control border-input"
                                           ng-model="user.userExtraInfo.highSchoolInfo.highSchoolCertificateNumber">
                                    <p id="error_userExtraInfo_highSchoolInfo_highSchoolCertificateNumber"
                                       class="text-danger"></p>
                                </div>
                                <!--								<div class="form-group">-->
                                <!--                                    <label>Średnia ocen ze świadectwa ukończenia szkoły bez religii i WF (np. 4.25, 5.0)*</label>-->
                                <!--                                    <input ng-disabled="user.userExtraInfo.isLocked"  type="text" class="form-control border-input" ng-model="user.userExtraInfo.highSchoolInfo.gradeAverage">-->
                                <!--                                    <p id="error_userExtraInfo_highSchoolInfo_gradeAverage" class="text-danger"></p>-->
                                <!--                                </div>-->
                            </div>
                            <div class="header">
                                <h4 class="title">Ankieta</h4>
                                <p class="category">Aby kontynuować wypełnij kwestionariusz osobowy</p>
                            </div>
                            <div class="content">
                                <div class="form-group">
                                    <label>Czy podejmowałeś wcześniej studia w BWS\nim. J. Tyszkiewicza?*</label>
                                    <select ng-disabled="user.userExtraInfo.isLocked" class="form-control selectpicker"
                                            ng-model="user.userExtraInfo.isOurStudent">
                                        <option value="true">Tak</option>
                                        <option value="false">Nie</option>
                                    </select>
                                    <p id="error_userExtraInfo_isOurStudent" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Proszę wskazać główne źródło informacji o naszej Uczelni.*</label>
                                    <select ng-disabled="user.userExtraInfo.isLocked" class="form-control selectpicker"
                                            ng-model="user.userExtraInfo.survey.howInfo">

                                        <option value="1">Szkoła</option>
                                        <option value="2">Rodzina/znajomi</option>
                                        <option value="3">Internet</option>
                                        <option value="4">Wizyta kogoś z Uczelni w Pani/Pana szkole</option>
                                        <option value="5">Ulotki/plakaty</option>
                                        <option value="6">Targi edukacyjne</option>
                                        <option value="7">Prasa</option>
                                    </select>
                                    <p id="error_userExtraInfo_survey_howInfo" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Jeżeli Internet to jaki portal?*</label>
                                    <select ng-disabled="user.userExtraInfo.isLocked" class="form-control selectpicker"
                                            ng-model="user.userExtraInfo.survey.howInfoExtra">
                                        <option value="1">Facebook</option>
                                        <option value="2">Twitter</option>
                                        <option value="3">Strona www Uczelni</option>
                                        <option value="4">Strony regionalne poświęcone Bielsku-Białej</option>
                                        <option value="5">Nie dotyczy</option>
                                    </select>
                                    <p id="error_userExtraInfo_survey_howInfoExtra" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label>Proszę podać najważniejszy powód wyboru naszej Uczelni*</label>
                                    <select ng-disabled="user.userExtraInfo.isLocked" class="form-control selectpicker"
                                            ng-model="user.userExtraInfo.survey.whyChoose">
                                        <option value="1">Renoma Uczelni</option>
                                        <option value="2">Ciekawy program studiów</option>
                                        <option value="3">Duża liczba zajęć praktycznych</option>
                                        <option value="4">Możliwość zdobycia popularnego i atrakcyjnego zawodu</option>
                                        <option value="5">Dobra lokalizacja Uczelni</option>
                                    </select>
                                    <p id="error_userExtraInfo_survey_whyChoose" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input ng-disabled="user.userExtraInfo.isLocked" type="checkbox" checked
                                               disabled style="display: block !important;font-size: 100px !important">
                                        <label class="small-label">
                                            Wyrażam zgodę na przetwarzanie i wykorzystywanie moich danych osobowych
                                            przez Bielską Wyższą Szkołę im. J. Tyszkiewicza
                                            w Bielsku - Białej dla celów postępowania rekrutacyjnego zgodnie z art. 6
                                            ustawy z dnia 29.08.97 r. o ochronie
                                            danych
                                            osobowych (Dz. U. z 1997 r. Nr 133 poz 883 z późniejszymi zmianami).
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Po wydrukowaniu formularza nie będzie możliwości jego edycji, aby ponownie go
                                        edytować prosimy o
                                        kontakt
                                        z działem rekrutacji.</label>
                                </div>
                                <div class="text-center">
                                    <button id="saveButton" ng-disabled="user.userExtraInfo.isLocked"
                                            ng-click="updateUser()" type="submit" class="btn btn-info btn-fill btn-wd">
                                        Zapisz
                                    </button>
                                    <button id="printButton" ng-disabled="user.userExtraInfo.isLocked"
                                            ng-click="makePdf()" class="btn btn-info btn-fill btn-wd">Drukuj
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container-fluid">
            <div class="copyright pull-right">
                &copy;
                <script>document.write(new Date().getFullYear())</script>
                , made with <i class="fa fa-heart heart"></i> by <a href="http://koszycki.pl/dev-basket">Dev Basket</a>
            </div>
        </div>
    </footer>

</div>

</body>

<!--   Core JS Files   -->
<script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<!--<script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>-->
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/js.cookie.js" type="text/javascript"></script>
<script src="../assets/js/angular-jwt.min.js" type="text/javascript"></script>
<script src="../assets/js/moment.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<!--<script src="../assets/js/bootstrap-checkbox-radio.js"></script> checkbox ng-model not working-->

<!--  Notifications Plugin    -->
<script src="../assets/js/bootstrap-notify.js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="../assets/js/paper-dashboard.js"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/js/angular-app.js"></script>
<script src="../assets/js/auth-interceptor.js"></script>
<script src="../assets/js/LoginController.js"></script>
<script src="../assets/js/ExtraInfoController.js"></script>

</html>
<style>
    .welcome-name {
        font-weight: 600;
        margin: 5px 5px;
        padding: 15px 15px;
        font-size: 20px;
        color: #f3460c;
    }

</style>
